<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Employee Login</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>

  <div class="container">
    <div class="left-panel">
      <h1>🚀</h1>
      <h2>Welcome</h2>
      <p>to the <br />RegisterR</p>
       <a href="/login" class="login-btn tab active">Login</a>
        <a href="/" class="login-btn tab active">Home</a>
    </div>

    <div class="right-panel">
      <div class="form-header">
        
          <a href="/login" class="btn btn-custom tab active">Login</a>
      <a href="/register" class="btn btn-custom tab">Register</a>
     
      </div>

      <h2>Employee Login Form</h2>

      <form>
        <div class="form-row">
          <input type="text" placeholder="First Name *" required />
          <input type="password" placeholder="Password *" required />
        </div>
        <div class="form-row">
          <input type="text" placeholder="Last Name *" required />
          <input type="password" placeholder="Confirm Password *" required />
        </div>
        <div class="form-row">
          <input type="email" placeholder="Email *" required />
          <input type="text" placeholder="Answer *" required />
        </div>
        <div class="form-row">
          <input type="tel" placeholder="Phone *" required />
        </div>

        <button type="submit" class="register-btn">Register</button>
      </form>
    </div>
  </div>
</body>
</html>
